.book_card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    padding:20px;}
    
    .book_card_container a{
      display: block;
    }
    
    
      img {
      width: 80%;
      height: 95%;
      object-fit:contain ;
      margin-bottom: 5px;
    }
  
    .footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      text-align: center;
  
      .author {
        width: 100%;
        margin-bottom: 15px;
      }
  
      .title {
        width: 100%;
        
      }
    }
  
  